body{
    display: grid;
    height: 100vh;
    grid-template: 1.25fr 1fr 1fr 1fr 1fr/ 1.25fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "dashboard header header header header"
    "dashboard projects projects projects announcements"
    "dashboard projects projects projects announcements"
    "dashboard projects projects projects trending"
    "dashboard projects projects projects trending"
}

img {
    height: 2rem;
    width: 2rem;
}


h1,h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1rem;
}




.header{
    grid-area: header;
    border:1px solid black;
}

.dashboard-grid{
    grid-area: dashboard;
    display: flex;
    flex-direction: column;
    border:1px solid black;
    padding: 25px;
    gap: 50px;
    /* justify-content: space-around; */
}

.projects{
    grid-area: projects;
    border:1px solid black;
}

.announcements{
    grid-area: announcements;
    border:1px solid black;
}

.trending{
    grid-area: trending;
    border:1px solid black;
}

.icon-flex-box, .dashboard-header{
    display: flex;
    align-items: center;
    gap: 20px;
}