html{
    height:100vh;
}

body{
    display: grid;
    /* height: 100%; */
    height: auto;
    grid-template-rows: 250px 1fr 1fr 1fr 1fr;
    grid-template-columns: 300px 1fr 1fr 1fr 250px;
    grid-template-areas:
    "dashboard header header header header"
    "dashboard projects projects projects announcements"
    "dashboard projects projects projects announcements"
    "dashboard projects projects projects trending"
    "dashboard projects projects projects trending"
}

img {
    height: 2rem;
    width: 2rem;
}

a {
    text-decoration: none;
}

#dash{
    font-size: 2rem;
}

h1,h2,h3,#dash, #icon, h4{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

h3, #icon{
    font-size: 1rem;
}

h4{
    font-size: .9rem;
    margin-top: 0;
    margin-bottom: 0;
}


button{
    width: 5rem;
    height: 3rem;
    border-radius: 15px;
    color: white;
    background-color: lightblue;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;

}

hr{
    border: .5px solid lightblue;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
}


.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "search search name"
        "hello hello buttons";
    /* gap: 50px; */
    background-color: whitesmoke;
}

.header-cont-1{
    grid-area: search;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-cont-1 > input{
    width: 80%;
    border-radius: 15px;
    padding: 10px;
}


.header-cont-2 {
    grid-area: name;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: flex-end;
}
#profile{
    width:3rem;
    height: 3rem;
}


.header-cont-3{
    grid-area:  hello;
    display: flex;
    align-items: center;
    gap:25px;
    height:auto;
}

#profile2{
    width:5rem;
    height: 5rem;
}

.header-cont-4{
    grid-area: buttons;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.dashboard-grid{
    grid-area: dashboard;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: black;
    background-color:whitesmoke;
    /* justify-content: space-around; */
}

.projects{
    grid-area: projects;
    /* border:1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-template-areas: 
        "header header"
        "project1 project2"
        "project3 project4"
        "project5 project6";
    gap:25px;
    justify-items: center;
    background-color:lightcyan;

}

.project-header{
    grid-area: header;
}

.project-cont-1{
    grid-area: project1;

}

.project-cont-2{
    grid-area: project2;
}

.project-cont-3{
    grid-area: project3;
}

.project-cont-4{
    grid-area: project4;
}

.project-cont-5{
    grid-area: project5;
}

.project-cont-6{
    grid-area: project6;
}


.project-cont-1,.project-cont-2,.project-cont-3,.project-cont-4,
.project-cont-5,.project-cont-6{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 400px;
}

.project-pic{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.img-cont{
    width: 100%;
    height:90%;
}

#project-pic{
    height: 100%;
    width: 100%;
    /* max-width: 600px;
    max-height: 600px; */
    object-fit:cover;
}


.announcements{
    grid-area: announcements;
    display: flex;
    flex-direction: column;
    /* border:1px solid black; */
    
    /* justify-content: space-between;  */

}

.facts-header{
    grid-area: header;
    margin-top: 0;
}

.facts-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* gap: 50px; */
    border: 1px black solid;
    border-radius: 10px;
    height: 100%;
    padding: 15px;
    text-align: center;
    
}

.facts{
    text-align: center;
}

.trending{
    grid-area: trending;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;

}

.header, .dashboard-grid, .projects, .announcements, .trending {
    padding: 25px;
    /* border:1px solid black; */

}

.icon-flex-box, .dashboard-header{
    display: flex;
    align-items: center;
    gap: 20px;
}


